@use "global/variables.scss" as *;

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $basic-grey;
  border-radius: 50%;
  box-sizing: border-box;
}

.control__label {
  display: inline-block;
  padding-left: 34px;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: $basic-primary;
  border-radius: 50%;
}

.control__input[type="radio"]:not(:disabled) + .control__mark:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: rgba(120, 89, 207, 0.25);
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark {
  border: 2px solid $basic-primary;
}

.control__input[type="radio"]:not(:disabled) + .control__mark:hover {
  border: 2px solid $basic-primary;
}

.control__input[type="radio"]:focus-visible + .control__mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}

.control__input:focus-visible:not(:checked) + .control__mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}

.control__mark-checkbox {
  position: absolute;
  top: 0;
  left: 2px;
  width: 42px;
  height: 24px;
  background: $basic-grey;
  border-radius: 12px;
  border: none;
}

.control__label-checkbox {
  display: inline-block;
  padding-left: 52px;
}

.control__mark-checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  background: $basic-white;
  border-radius: 50%;
  border: 0;
}

.control__input[type="checkbox"]:checked + .control__mark-checkbox {
  width: 42px;
  height: 24px;
  background: $basic-primary;
  border-radius: 12px;
  border: none;
}

.control__input[type="checkbox"]:checked + .control__mark-checkbox::before {
  left: 20px;
  top: 2px;
}


.control__input[type="checkbox"]:not(:disabled) + .control__mark-checkbox:hover {
  box-sizing: border-box;
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid $basic-primary;
}

.control__input[type="checkbox"]:not(:disabled) + .control__mark-checkbox:hover::before {
  left: 0;
  top: 0;
}

.control__input[type="checkbox"]:checked:not(:disabled) + .control__mark-checkbox:hover::before {
  left: 18px;
  top: 0;
}

.control__input[type="checkbox"]:checked:focus-visible + .control__mark-checkbox {
  &--switch {
    outline: 2px solid $basic-primary;
    background-color: rgba(120, 89, 207, 0.25);
    outline-offset: -2px;
    transition: none;
  }
}

.control__input:focus + .control__mark-checkbox {
  &--switch {
    outline: 2px solid $basic-primary;
    background-color: rgba(120, 89, 207, 0.25);
    outline-offset: -2px;
    transition: none;
  }
}
