@use "global/variables.scss" as *;

.footer__wrapper {
  @media (min-width: $tablet-width) {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    align-items: start;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    padding: 39px 0;
  }
}

.hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.footer__section-wrapper::after {
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #f0ebff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__section-wrapper--social {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 0;
    margin-bottom: 12px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer__social-link {
  display: flex;
  padding: 10px;

  &:hover {
    background-color: $basic-secondry;
  }

  &:focus {
    background-color: $basic-secondry;
    outline: none;
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon,
.footer__social-link:active .footer__social-icon {
  fill: $basic-primary;
}


.footer__social-icon {
  fill: $basic-grey;
}

.footer__logo-image {
  display: block;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    margin-left: -2px;
  }
}

.footer__logo-text {

  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.footer__media,
.footer__category {
  padding: 20px 0 27px;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 10px;
  }
}

.footer__contacts {
  padding: 22px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 20px 0 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 10px;
  }
}

.footer__section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $basic-primary;
  margin: 0;
  margin-bottom: 18px;
}

.footer__section-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__section-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__section-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__section-wrapper--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.footer__contacts-wrapper {
  position: relative;
}

.footer__contacts-address {
  font-style: normal;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 19px;

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.footer__contacts-tel-link {
  font-style: normal;
  text-decoration: none;
  color: $basic-black;
  padding-left: 19px;
}

.footer__copyright {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.footer__copyright-icon {
  position: absolute;
  top: 3px;
}
