@use "global/variables.scss" as *;

.products__list {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1011px;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 317px);
  }
}
