@use "global/variables.scss" as *;

.slider {
  position: relative;
}

.slider__item {
  min-height: 656px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    align-items: start;
    padding-top: 30px;
    padding-right: 105px;
    padding-left: 105px;
    padding-bottom: 84px;
  }
}

.slider__item--flat {
  background-color: $bg-flat;

  @media (min-width: 768px) {
    background: linear-gradient(to bottom, $bg-flat 77%, $basic-white 77% 100%);
  }

  @media (min-width: 1440px) {
    background: none;
    background-color: $bg-flat;
  }
}

.slider__item--lavander {
  background-color: $bg-lavander;

  @media (min-width: 768px) {
    background: linear-gradient(to bottom, $bg-lavander 77%, $basic-white 77% 100%);
  }

  @media (min-width: 1440px) {
    background: none;
    background-color: $bg-lavander;
  }
}

.slider__item--espresso {
  background-color: $bg-espresso;

  @media (min-width: 768px) {
    background: linear-gradient(to bottom, $bg-espresso 77%, $basic-white 77% 100%);
  }

  @media (min-width: 1440px) {
    background: none;
    background-color: $bg-espresso;
  }
}

.slider__wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  max-width: 1440px;

  @media (min-width: $desktop-width) {
    align-self: center;
    flex-direction: row;
  }
}

.slider__image {
  width: 280px;
  padding: 0;
  margin: 0 0 2px;
  align-self: center;

  @media (min-width: $tablet-width) {
    order: 1;
    align-self: center;
    width: 476px;
    height: 476px;
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 600px;
    height: 600px;
  }
}

.slider__text-wrapper {
  @media (min-width: $tablet-width) {
    order: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    padding: 0;
    padding-left: 30px;
  }
}

.slider__label {
  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
  }
}

.slider__text {
  width: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    padding: 0;
    text-align: left;
    margin-bottom: 40px;
  }
}

.slider__buy-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding: 0;
  }
}

.slider__price-wrapper {
  margin: 0;
}

.slider__oldprice {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $basic-primary;
  margin-right: 6px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.slider__newprice {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 22px;

  @media (min-width: $desktop-width) {
    margin-right: 21px;
  }
}

.slider__button-buy {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $basic-white;
  text-align: center;
  background: $basic-primary;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
}

.slider__pagination {
  display: none;
  margin: 0;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 629px;
    left: -20px;
  }
}

.slider__button.swiper-button-next,
.slider__button.swiper-button-prev {
  height: 100%;
  position: absolute;
  top: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: $basic-primary;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, $basic-white 0%, rgba(255, 255, 255, 0) 100%);
    outline: none;
  }

  &:disabled {
    fill: $basic-grey;
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  @media (min-width: 768px) {
    width: 80px;
    top: -73px;
  }

  &::after {
    display: none;
  }

  @media (min-width: 1440px) {
    top: 22px;
  }
}

.slider__button--prev.swiper-button-prev {
  left: 0;
}

.slider__button--next.swiper-button-next {
  right: 0;
  transform: scale(-1, 1);
}

.slider__button[aria-disabled="true"] {
  color: $basic-grey;
}

.slider__arrow {
  position: relative;
}

.swiper-pagination-bullet {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    height: 4px;
    width: 62px;
    background-color: $basic-white;
    margin-left: 8px;
    border-radius: 0;
    opacity: 1;

    &--active {
      background-color: $basic-primary;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      background: rgba(120, 89, 207, 0.25);
    }

    &:active {
      background-color: $basic-primary;
      opacity: 1;
    }
  }
}
