@use "global/variables.scss" as *;

.sorting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 30px;
  }
}

.sorting__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-left: 2px;
  margin-right: 8px;
}

.sorting__control {
  appearance: none;
  width: 165px;
  outline: 0;
  border: none;
  text-transform: lowercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $basic-primary;
  background-color: transparent;
  padding: 4px 22px 4px 10px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.sorting__control--close {
  background-image: url("/img/sorting-arrow.svg");
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-color: transparent;
}
