$basic-white: #ffffff;
$basic-grey: #bdbdbd;
$basic-black: #333333;
$basic-primary: #7859cf;
$basic-secondry: #f0ebff;
$primary-lighter: #9070ec;
$primary-darken: #593cac;
$light-grey: #e2e2e2;
$bg-grey: #f8f8f8;
$bg-flat: #f3ebe1;
$bg-lavander: #eae6fc;
$bg-espresso: #e5e6e8;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 767px;
